@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*
{
    margin:0;
    padding:0;
}

body
{
    /* background:url("images/bg-curve-mobile.svg") no-repeat 0 125vh, linear-gradient(to bottom, rgba(0, 0, 0, 0) 31%, hsl(240, 75%, 98%) 1%); */
}

/* ------------HEADER---------- */
header
{
    display:flex;
    justify-content: space-between;
    align-items: center;

    width:90%;
    padding: 1em 0;
    margin: 0 auto;

    font-family: "Raleway";
    font-weight: bold;
    font-size:0.8em;
    color:black;
    margin-bottom: 5em;
}
header img
{
    width: 20%;
}
#header-menu
{
    display:flex;
    justify-content: space-around;
}
#header-menu div
{
    margin-left: 1em;
}

/* -----------------SECTION 1 -------------- */
section
{
    width:100%;
    margin-bottom: 0em;
}
#first-section
{
    background:url("images/bg-curve-mobile.svg") no-repeat 0 bottom / 100vw auto;
    padding-bottom: 10em;
}
.second-colunm-container
{
    width:80%;
    margin: 0 10% 2em 10%;
}
.first-colunm-container
{
    width:80%;
    margin: 0 auto;
    text-align: center;
}
h1
{    
    font-family: "Open Sans";
    font-size: 1.5em;
    margin-bottom: 1em;
}
p
{
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;
    color: rgb(53, 53, 53);
    margin-bottom: 2em;
}
form
{    
    display: flex;
    flex-direction: column;    
}
#mail-input
{
    margin-bottom: 1em;
    padding: 0.7em;
    border:1px black solid;
    border-radius:0.3em;

    color: rgb(70, 70, 70);
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;
}
#submit-btn
{
    padding: 0.7em;
    color:white;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;

    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius:0.3em;
}

/* ---------------SECTION 2------------ */
#second-section
{
    width:100%;
    margin:0 auto 0em auto;    
    background:hsl(240, 75%, 98%) ;
    padding: 2em 0 6em 0;
}
#second-section .first-colunm-container
{
    width:100%;
    text-align: left;    
    margin:0;
}
#second-section h1
{
    font-size: 1.1em;
    width: 100%;    
    text-align: center;
}
#second-section p
{
    color:rgb(83, 83, 83);
}

#how-fylo-works-link
{
    display: block;
    margin: 0 auto 2em auto;
    width:12em;

    color:rgb(106, 209, 183);
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    border-bottom: 2px solid rgb(106, 209, 183);
    padding-bottom: 0.3em;
}
#link-arrow
{
    margin-left: 1em;
    width: 10%;
}

#testimonial
{
    background:white url("images/icon-quotes.svg") no-repeat left 2em top 1.5em;
    border-radius: 0.5em;
    padding: 3em 2em 2em 2em;
    width:75%;
    margin: 0 auto;

}
#author-pannel
{
    display:flex;
    align-items: center;
    font-family: "Open Sans";
}
#testimonial { font-size: 0.8em; }
#profile-pic
{
    width: 17%;
    border-radius: 50%;
    margin-right: 1em;
}
#author-name
{
    font-weight: bold;
}
#author-job
{
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
}
/* --------------EARLY ACCES----------------- */
#early-acces-pannel
{
    display: block;
    background-color: hsl(238, 22%, 44%);
    color: white;
    padding: 3em 0 0 0;
    margin-bottom: 0em;
}
#early-acces-pannel p
{
    color:rgb(240, 240, 240);
    font-weight: 300;    
}

#early-access-mail
{
    margin-bottom: 1em;
    padding: 0.7em;
    border:1px black solid;
    border-radius:0.3em;

    color: rgb(70, 70, 70);
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;
}
#early-acces-submit
{
    padding: 0.7em;
    color:white;
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: bold;

    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius:0.3em;
    margin-bottom: 5em;
}
#early-acces-pannel .second-colunm-container
{    
    margin: 0 10% 0em 10%;
}

/* --------------FOOTER-------------- */
footer
{
    background-color: hsl(243, 87%, 12%);
    color: white;
    font-family: "Raleway";
    padding:4em 2em 2em 2.5em;
}
#footer-logo
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5921%) hue-rotate(350deg) brightness(124%) contrast(107%);
    margin-bottom:2em;
}
.sub-menu { margin-bottom: 3em; }
.sub-menu img { margin-right: 1em; }
.sub-menu div { margin-bottom: 1.5em; }
#social-networks
{
    margin:0 auto;
    width:50%;     
}
#social-networks img
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5921%) hue-rotate(350deg) brightness(124%) contrast(107%);
    margin-left: 1em;
}
