@media all and (min-width: 900px)
{
    #header-logo { width:10%; }
    header { padding: 2em 0; }

    /* -----------------SECTION 1 -------------- */
    section
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #first-section
    {
        background:url("images/bg-curve-desktop.svg") no-repeat 0 bottom / 100vw auto;
        padding: 0em 0 15em 0;
    }
    .second-colunm-container
    {
        width:45%;
        margin: 0 0% 0 0;
        margin-right: 5vw;
    }
    .first-colunm-container
    {
        width:37%;
        margin:0;
        margin-left: 5vw;
        text-align: left;
    }
    h1 { font-size: 2em; }

    /* ---------------SECTION 2-------------- */
    #second-section .first-colunm-container
    {
        width:37%;
        margin:0;
        margin-left: 5vw;
        text-align: left;
    }
    #second-section h1
    {
        font-size: 2em;
        text-align: left;
    }
    #how-fylo-works-link
    {
        text-align: left;
        display:block;
        width:11.3em;
        margin: 0;
        margin-bottom:2em;
    }
    #testimonial
    {
        width:50%;
        margin: 0;
    }
    /* --------------EARLY ACCES--------------- */
    #early-acces-pannel
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 6em 0em 5em 0em;
        margin: 0;
    }
    #early-acces-pannel .second-colunm-container
    {
        width:35%;
        padding: 0;
        margin-right: 5vw;
    }
    #early-access-mail { width:auto; }
    #early-acces-submit
    {
        width:60%;
        margin:0;
    }
    /* ------------FOOTER----------- */
    footer { padding: 5em 5vw 0 5vw;}
    #footer-logo
    {
        margin: 0 0 2em 0;
        padding: 0;
    }
    #footer-menu
    {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width:100%;
    }
    .sub-menu
    {
        margin-right: 0%;
        width:35%;
    }
    #social-networks
    {
        margin:0 auto;
        width:20%;
    }
}